<div class="page-sidebar-wrapper">
  <div class="page-sidebar md-shadow-z-2-i  navbar-collapse collapse">
    <ul class="page-sidebar-menu " data-keep-expanded="true" data-auto-scroll="false" data-slide-speed="200">
      <% @side_menu.each_with_index do |(k, v), i| %>
        <% if v[1].class.to_s == "Hash" %>
          <li>
            <a href='javascript:;'>
              <% if v[0][:icon] != '' %>
                <i class="<%=v[0][:icon]%>"></i>
              <% end %>
              <span class="title"><%=k%></span>
              <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
              <% v[1].each do |k2,v2| %>
                <% active = if !v2.index(@current_uri).nil? then "active" else "" end %>
                <li class="<%=active%>">
                  <a href='<%=v2[0]%>'><%=k2%></a>
                </li>
              <% end %>
            </ul>
          </li>
        <% else %>
          <% active = if !v[1].index(@current_uri).nil? then "active" else "" end %>
          <li class="<%=active%>">
            <a href='<%=v[1][0]%>'>
              <% if v[0][:icon] != '' %>
                <i class="<%=v[0][:icon]%>"></i>
              <% end %>
              <span class="title"><%=k%></span>
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
